/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* 6 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 6 */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}


/* 6 */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* 2.1 */
  position: relative;
}

/* Step 2 */
.logo-box {
  /* положение absolute определяется относительно родительского элемента */
  position: absolute;
  top: 40px;
  left: 40px;

}


.logo {
  /* 2.2 - width высчитается браузером автоматически*/
  height: 35px;
}


/* Step 6 - размещаем по середине страницы */
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  /* но только при параметрах как выше 50% будет слева и сверху только до края блока (левого и верха), но нам нужно чтобы в центре находилась середина контейнера, а не его края */
  /* мы сдвигаем элемент на 50% его ширины и высоты */
  transform: translate(-50%, -50%);
}


/* Step 4 */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

/* 4.1 */
.heading-primary-main {
  /* span - это инлайн элемент, нам для размещения текста на разных строчках нужно сделать его блочным */
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

/* 4.2 */
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
}

































































/* f */
