/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* 6 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 6 */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}


/* 6 */
.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* 7 */
  position: relative;
}


/* 7 */
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}


/* 7 */
.logo {
  height: 35px;
}


/* 7 */
.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* 9 */
  text-align: center;
}


/* 7 */
.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /* 8 */
  backface-visibility: hidden;

  /* 9 */
  margin-bottom: 60px;
}

/* 7 */
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  /* 8 */
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}


/* 7 */
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  /* 8 */
  animation-name: moveInRight;
  animation-duration: 1s;
}


/* 8 */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* 8 */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


/* 9 */
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;

  /* 1.3 - 1.4 */
  position: relative;
}

/* 9 */
.btn-white {
  background-color: #fff;
  color: #777;
}

/* 9 */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* 9 */
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


/* Step 1 */
.btn::after {
  /* во всех псевдо-эелементах, всегда определяем свойство content, оно может бфть пустым, но должно быть, иначе псевдо элемент не отобразится */
  content: "";
  /* так как нам нужен точно такой-же элемент как нопка, то свойства расположения мы повторяем */
  display: inline-block;
  /* псевдо элемент является child для родительского, поэтому ставя ширину и высоту 100% мы добьемся аналогичных размеров */
  height: 100%;
  width: 100%;
  border-radius: 100px;

  /* 1.2 - 1.3 - размещаем строго на месте текущей кнопки относительно родительской кнопки */
  position: absolute;
  top: 0;
  left: 0;
  /* размещаем позади основной кнопки */
  z-index: -1;
  transition: all .4s;
}

/* 1.1 - 1.2 */
.btn-white::after {
  background-color: #fff;
  color: #777;
}


/* 1.4 - нам нужно чтобы при наведении hover на основную кнопку происходило действие с псевдо элементом - он становился больше, то есть когда .btn:hover мы аффектим на ::after */
.btn:hover::after {
  /* реализуем разное увеличение по оси х и у */
  transform: scaleX(1.4) scaleY(1.6);
  /* добавляем эффект полной прозрачности, чтобы при увеличении фон кнопки исчезал */
  opacity: 0;
}


/* Step 2 - 2.1 - добавим анимацию для кнопки выдвижения ее снизу при загрузке страницы */
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 2.1 - 2.2 (index.html) - нам нужно применять анимаю только к одной кнопке, поэтому делаем под это отдельный css класс и сюда подключаем анимацию */
.btn-animated {
  /* все свойства анимации в одной записи: animation-name, time, function, delay */
  animation: moveInBottom .5s ease-out .75s;
  /* из-за наличия задержки, кнопка изначально видна и только потом анимируется, нам нужно сделать ее невидимой изначально - если delay нет, то и этой проблемы нет */
  animation-fill-mode: backwards;

}
































































/* f */
