/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* 2 - сбрасываем предустановленные настройки броузера используя универсальный селектор. Универсальный селектор выбирает все элементы на странице и применяет к ним прописанные свойства */
* {
  /* по умолчанию броузеры добвляют margin и padding к некоторым элементам типа h1 и тд, нам это не нужно */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* 2.1 - устанавливаем параметры для шрифтов для всего проекта в body и они будут наследоваться на все остальные child элементы внутри body  */
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  /* добавим для всей страницы белые отступы по бокам при помощи padding */
  padding: 30px;
}


/* 2.2 - стилизуем сам header */
.header {
  /* ширина блока будет 95% от ширина экрана viewport */
  height: 95vh;
  /* url - так как нам нужно указать путь к изображению из данного css файла, то сначала мы поднимаемся из него на уровень вверх ../ и потом уже выбираем папку img и нужный файл */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;

  /* 2.3 - обрезаем блок снизу по диагонали при помощи свойства clip-path, используем функцию polygon() котооая принимает координаты для обрезки блока  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}





























/* f */
